body {
    font-size: 14px;
    background-color: #888888;
    margin: 10px;
    padding: 0;
}

#searchContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid black;
    display: none;
    z-index: 1000;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.suggestion-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
}

.suggestion-item.active {
    background-color: #c2c2c2;
    color: rgb(0, 0, 0);
}


.suggestion-item:hover {
    background-color: #c2c2c2;
}

.suggestion-item img {
    width: 50px;
    height: auto;
    max-height: 75px;
    margin-right: 10px;
}

.suggestion-details {
    display: flex;
    flex-direction: column;
}

.scrollable-days {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-bottom: 20px;
}

.day-selector {
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
}

.day-selector.active {
    font-weight: bold;
}

#schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

#clock {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}


.table-responsive {
    overflow-x: auto;
    width: 100%;
}

table {
    width: 80%;
    max-width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    padding: 8px;
    text-align: left;
    word-wrap: break-word;
}

@media (max-width: 800px) {
    table {
        width: 90%;
        max-width: 100%;
    }

}

@media (max-width: 640px) {
    table {
        width: 100%;
        max-width: 100%;
    }
}