
body {
    font-size: 14px;
    background-color: #888888;
    margin: 10px; /* Remove default margin */
    padding: 0; /* Remove default padding */
}
#searchContainer {
    position: relative;
    width: 100%;
    max-width: 300px;
}

#suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid black;
    display: none;
    z-index: 1000;
}

.suggestion-item {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: black;
    background-color: #ffffff;
}

.suggestion-item:hover {
    background-color: #f0f0f0;
}

.suggestion-item img {
    width: 50px;
    height: auto;
    max-height: 75px;
    margin-right: 10px;
}

.suggestion-details {
    display: flex;
    flex-direction: column;
}

.scrollable-days {
    display: flex;
    justify-content: flex-start;
    overflow-x: auto;
    margin-bottom: 20px;
}

.day-selector {
    padding: 10px 10px;
    cursor: pointer;
    position: relative;
}

.day-selector.active {
    font-weight: bold;
}

#schedule {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 20px;
}

#clock {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    padding: 5px;
    border: 1px solid black;
}


.table-responsive {
    overflow-x: auto; /* Allow horizontal scrolling on small screens */
    width: 100%; /* Ensure the wrapper takes full width */
}

table {
    width: 80%; /* Allow the table to take full width */
    max-width: 100%; /* Prevent the table from exceeding the viewport width */
    border-collapse: collapse; /* Optional: for better border handling */
    table-layout: fixed; /* Ensure the table layout is fixed */
}

td {
    padding: 8px; /* Adjust padding as needed */
    text-align: left; /* Adjust text alignment as needed */
    word-wrap: break-word; /* Allow long words to break and wrap */
}

/* Optional: Add media queries for further customization */
@media (max-width: 800px) {
    table {
        width: 90%; /* Ensure full width on very small screens */
        max-width: 100%; /* Prevent exceeding viewport width */
    }
  
}

@media (max-width: 640px) {
    table {
        width: 100%; /* Ensure full width on very small screens */
        max-width: 100%; /* Prevent exceeding viewport width */
    }
}

